.app {
  width: 100%;
  overflow: hidden;
  color: white;
  font-family: 'Assistant Regular';
  white-space: break-spaces;
  font-weight: normal;
}

/* Slide Custom */

.slick-slider.slick-vertical .slick-slide {
  border: 0;
}

.slick-prev, .slick-next {
  display: none !important;
}

/* Slide item */

.feed-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.feed-item.link-section {
  background-color: #1a4189;
}

/* Sections */

.video-section {
  position:relative;
  overflow: hidden;
}

/* Top */

.top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%,0,0);
  z-index: 10;
}

.top-section .block-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em .5em;
  display: flex;
  align-items: center;
}

.top-section .block-info .logo {
  cursor: pointer;
}

.top-section .block-title {
  margin-left: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section .block-title .title {
  color: white;
  margin: 0;
  font-family: 'Assistant Bold';
  white-space: break-spaces;
  font-weight: normal;
  align-self: flex-start;
}

.top-section .block-action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em .5em;
  display: flex;
  align-items: center;
}

.top-section .block-action .feed-button {
  background-color: transparent;
  min-height: 36px;
  padding: 0.2em .5em;
  border: 1px solid white;
  border-radius: .5em;
  margin-right: .5em;
}

.top-section .block-action .mute {
  width: 24px;
  height: 24px;
}

.top-section .block-title .title.bold {
  font-weight: bold;
}

/* Bottom */

.bottom-section {
  padding-bottom: 2em;
  padding-top: .5em;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%,0,0);
  background: -webkit-linear-gradient(top, rgba(68, 68, 68, 0.3), rgba(255, 255, 255, 0.3) 60%, rgba(68, 68, 68, 0.3));
  z-index: 10;
}

.bottom-section .profile {
  display: flex;
  align-items: center;
}

.bottom-section .profile .avatar {
  margin-left: .5em;
}

.bottom-section .profile .fullname {
  margin: 0;
  margin-left: .5em;
  font-size: 22px;
}

.bottom-section .profile .role {
  margin: 0;
  margin-left: .5em;
  font-size: 18px;
}

.bottom-section .subject {
  padding: 0 .5em;
  font-size: 26px;
  margin: 0;
}

.bottom-section .page-logo {
  margin: .5em auto;
  max-height: 100px;
}

.bottom-section .sub-title {
  font-size: 24px;
  text-align: center;
  font-family: 'Assistant Bold';
  color: white;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 32px;
  padding: 0 1.2em;
}

.bottom-section .button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1.2em;
}

.powered-by {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  font-family: 'Assistant Bold';
  color: white;
}

/* Button */

.feed-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: 0.55em 1.5em;
  font-size: 1.05em;
  line-height: 1.5;
  border-radius: 1.5em;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #1a4189;
  cursor: pointer;
  margin: .2rem .25rem;
  font-family: 'Assistant Regular';
  white-space: pre-wrap;
  min-height: 44px;
}

.feed-button:hover {
  color: #fff;
  background-color: #1a4189;
}

.feed-button:active {
  color: #fff;
  background-color: white;
  color: black;
}

.feed-button.wide {
  width: 100%;
}

.feed-button.center {
  align-self: center;
}
