body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "Adine";
  src: url("./assets/fonts/Adine\ Kirnberg.ttf") format("truetype");
}

@font-face{
  font-family: "Adine Alternate";
  src: url("./assets/fonts/AdineKirnberg-Alternate.ttf") format("truetype");
}

@font-face{
  font-family: "Billy Argel";
  src: url("./assets/fonts/Billy\ Argel\ Font.ttf") format("truetype");
}

@font-face{
  font-family: "Bird Paradise";
  src: url("./assets/fonts/BirdsOfParadisePersonalUseOnly.ttf") format("truetype");
}
